# Para archivos .env en la raíz y en los subdirectorios.
.env
*/.env

# Ignorar las carpetas venv en cada microservicio.
*/venv/

# Otros archivos.
__pycache__/

# Ignorar archivos de configuración del sistema operativo.
ehthumbs.db
Thumbs.db

# Ignorar archivos de configuración del editor.
.idea/
.vscode/
*.swp